$background_color:		#cfc7ff;
$link_color:			#2020f0;
$separator_color:		#000000;
$grid_border:			#aaaaaa;
$grid_shadow_outer:		#ccccdd;
$grid_shadow_middle:		#eeeeee;
$error_border:			#8f0000;
$hover_background:		#f6f4d0;

$shadow_light:			#eeeeee;
$shadow_dark:			#000000;

@import "_vars/net/dryuf/_vars/_messages-generic";
