$hidingmenu_normal_color:		#fff;
$hidingmenu_focus_color:		#000;
$hidingmenu_normal_background:		#710069;
$hidingmenu_focus_background:		#36f;

$hidingmenu_l2_normal_background:	#6a3;
$hidingmenu_l2_focus_background:	#6fc;

$hidingmenu_inner_background:		#ddd;
