$error_color:			#400000;
$error_background:		rgba(255, 192, 192, 1);
$error_border:			#8f0000;

$warning_color:			#202000;
$warning_background:		rgba(255, 255, 192, 1);
$warning_border:		#8f8f00;

$info_color:			#004000;
$info_background:		rgba(192, 255, 192, 1);
$info_border:			#008f00;
